---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Toolkit from "../components/Toolkit.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout>
  <SiteHeader />
  <a id="top"></a>
  <Hero />
  <Work />
  <Toolkit />
  <About />
  <Contact />
  <SiteFooter />
</BaseLayout>
